/* Grundlegendes Box-Sizing */
* {
    box-sizing: border-box;
}

/* Allgemeine Stile */
body {
    font-family: 'Helvetica', sans-serif;
    background: url('img.PNG') no-repeat center center fixed;
    background-size: cover;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Overlay für bessere Lesbarkeit */
.overlay {
    background-color: rgba(26, 26, 26, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

header {
    background-color: #fff; /* Weißer Hintergrund */
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #b87c62; /* Metallischer Akzent */
    position: relative;
}

.main-logo {
    width: 10%; /* Breite auf 70% des Bildschirms anpassen */
    height: auto;
    margin: 0 auto; /* Zentrieren */
    display: block; /* Damit das Bild als Block angezeigt wird und die Zentrierung greift */
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7)); /* Schatten für bessere Sichtbarkeit */
    padding: 20px 0; /* Abstand um das Bild */
}



/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #b87c62;
    padding: 8px 15px;
    border-radius: 20px;
}

nav ul li a:hover {
    color: #fff;
    background-color: rgba(184, 124, 98, 0.8);
}

/* Hauptinhalt */
main {
    padding: 20px;
    max-width: 1200px; /* Begrenzte Breite für den Hauptinhalt */
    margin: auto;
}

section {
    padding: 20px;
    background-color: #2a2a2a;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    border-bottom: 2px solid #b87c62;
    margin-bottom: 15px;
}

/* Galerie */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 30%;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background-color: #444;
    color: #f0f0f0;
    text-align: center;
    padding: 15px;
}
